<div *ngFor="let item of roundList;let i = index" class="flex-container">
  <app-round-list-item (remove)="remove($event)" (edit)="edit()" [spelare]="item"
  [isNext]="item === next"
  [hasLostLife] = "item === spelareLostLife"
  [hasGainedLife] = "item === spelareGainedLife"
  [editMode]="editing"
  [order]="direction==Direction.Backward ? roundList.length - i :  i"
  [direction]="direction"
  ></app-round-list-item>
</div>
<div class="flex-container">
<app-button [size]="'small'" *ngIf="editing" (action)="save()">Spara</app-button>
<app-button [size]="'small'" *ngIf="editing" (action)="add()">Lägg till</app-button>
<app-button [size]="'small'" (action)="reset()">Starta om</app-button>
</div>

