<div class="container flex-container">

  <div>
    <div class="flex-container">
      <app-die [rolling]="rolling" [value]="game.dice.dice1"></app-die>
      <app-die [rolling]="rolling" [value]="game.dice.dice2"></app-die>
    </div>
    <div class="flex-container">
      <button [ngClass]="{active:rolling && stake==='lower' }" [disabled]="rolling || !game.next || game.next.liv === 0 || game.dice.tot === 2" (click)="onClickLower()">Lägre</button>
      <button [ngClass]="{active:rolling && stake==='same' }" [disabled]="rolling || !game.next || game.next.liv === 0" (click)="onClickSame()">Lika</button>
      <button [ngClass]="{active:rolling && stake==='higher' }" [disabled]="rolling || !game.next || game.next.liv === 0 || game.dice.tot === 12" (click)="onClickHigher()">Högre</button>
    </div>
  </div>
  <div>
    <app-round-list
      (adderaSpelare)="adderaSpelare()"
      (tabortSpelare)="tabortSpelare($event)"
      (resetGame)="resetGame()"
      [next]="game.next"
      [spelareLostLife]="game.lostLife"
      [spelareGainedLife]="game.gainedLife"
      [roundList]="game.gameList"
    ></app-round-list>
  </div>
</div>
