<div class="container flex-container">
  <div>
    <div class="flex-container">
      <app-dice [dice]="game.dice" [rolling]="rolling" [audioOn]="!muted"></app-dice>
    </div>
    <div class="flex-container">
      <app-button
        [active]="rolling && stake === 'lower'"
        [disabled]="rolling || !game.next || game.next.liv === 0 || game.dice.tot === 2"
        (action)="onClickLower()">Lägre</app-button>
      <app-button
        [active]="rolling && stake === 'same'"
        [disabled]="rolling || !game.next || game.next.liv === 0"
        (action)="onClickSame()">Lika</app-button>
      <app-button
        [active]="rolling && stake === 'higher'"
        [disabled]="rolling || !game.next || game.next.liv === 0 || game.dice.tot === 12"
        (action)="onClickHigher()">Högre</app-button>
    </div>
    <div class="flex-container">
      <app-button *ngIf="muted" (action)="onClickSpeaker()">
        <i class="fas fa-volume-mute"></i>
      </app-button>
      <app-button *ngIf="!muted" (action)="onClickSpeaker()">
        <i class="fas fa-volume-up"></i>
      </app-button>
    </div>
  </div>
  <div>
    <app-round-list
      (adderaSpelare)="adderaSpelare()"
      (tabortSpelare)="tabortSpelare($event)"
      (resetGame)="resetGame()"
      [next]="game.next"
      [spelareLostLife]="game.lostLife"
      [spelareGainedLife]="game.gainedLife"
      [roundList]="game.gameList"
      [direction]="game.direction"
    ></app-round-list>
  </div>
</div>
