
<div [ngClass]="{'roller': rolling, 'short-animation': shortAnimation }">
  <span class="content">
    <span class="dot" [ngClass]="{nodot:value === 1}"></span>
    <span class="dot" [ngClass]="{nodot:true}"></span>
    <span class="dot" [ngClass]="{nodot:value < 4}"></span>
    <span class="dot" [ngClass]="{nodot:value < 6}"></span>
    <span class="dot" [ngClass]="{nodot:value === 2 || value === 4 || value === 6}"></span>
    <span class="dot" [ngClass]="{nodot:value < 6}"></span>
    <span class="dot" [ngClass]="{nodot:value < 4}"></span>
    <span class="dot" [ngClass]="{nodot:true}"></span>
    <span class="dot" [ngClass]="{nodot:value === 1}"></span>
  </span>
</div>
